 
.pai{
    width: 100%;
    margin: auto;
    height: 100vh;


}
 
.formulario{
    width: 99%;
    margin: auto;
    margin-top: 100px;
    height: 45vh;
    border: 1px solid rgba(100, 96, 96, 0.425);
    padding: 15px;
    max-width: 900px;
}
label,input{
    width: 100%;
    font-size: 16px;


}
input{
    height: 45px;
    border: 1px solid rgb(129, 125, 125);
    border-radius: 5px;
}
.msg__pai{
    margin-top: 30px;
}
.btn__pai{
    margin-top: 15px;
}
.btn{
    width: 50%;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(0, 81, 255, 0.637);
    color: white;
    font-weight: bold;
    max-width: 340px;
    
    &.btn:hover{
        background-color: rgb(25, 25, 219);
    }

}
 