*{
  margin: 0;
}
 
html {
  font-size: 62.5%;
}
 
 
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background-color: #333;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__link{
  color: #efefef;
  font-size: 2.1rem;
  text-decoration: none;
}
.nav__link:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
 
 
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 30vh;
    right: 0;
    height: 93vh;
    width: 100vw;
    background-color: #333;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}